@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
.time {
  display: flex;
  font-family: 'Roboto Slab', serif;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px){
  .time{
    height: 8em

  }
}
.time-unit{
  margin: 1em 1em 0 1em;
}
@media (max-width: 500px){
  .time-unit{
    margin: .4em .4em 0 .4em;

  }
}
.time-integer {
  padding: 0 .4em 0 .4em;
  background: black;
  color: white;
  border-radius: .5em;
  font-size: 2em;
  width: 1.5em;
}
@media (max-width: 500px) {
  .time-integer {
    font-size: 1.2em;
  }
}

.time-value {
  font-size: 1em;
}
@media (max-width: 500px) {
  .time-value {
    font-size: .5em;
  }
}