.imgs {
    margin: auto;
    width: 650px;
    height: 350px;
    overflow: scroll;
}
@media (max-width: 500px){
    .imgs{
      width: 95%;
  
    }
  }
.MuiImageList-root {
    margin: 0 .5em 0 .5em;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .imgs::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .imgs {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 