.imgs {
    
    margin: auto auto 0 auto; 
    width: 500;
    height: 550;
}
.MuiImageList-root {
    margin: 0 .5em 0 .5em;
}
.img-div {
    
    max-width:300px;
    max-height:500px;
    width: auto;
    height: auto;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .imgs::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .imgs {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 