.imgs {
    align-items: center;
    margin-left: 10em;
    margin-right: 10em;
    margin: auto auto 0 auto; 
    
}
.img-div {
    
    max-width:300px;
    max-height:500px;
    width: auto;
    height: auto;
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .imgs::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .imgs {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 