@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.App-container {
    height: 100vh;
}
.App-content {
    font-family: 'Tangerine', cursive;
    text-align: center;
    margin-bottom: 2em;
}
.title {
    font-size: 5em;
    margin: 0;
}
.top{
    margin-top: .5em;
}

.date {
    font-family: 'Roboto Slab', serif;
}
.MuiPaper-root{
    width: 50em;
    margin-bottom: 50px;
}
@media (max-width: 500px) {
    .MuiPaper-root {
        width: 25em;
    }
  }
body {
        background-image: url("https://images.unsplash.com/photo-1606762903097-713bf356b8c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
        background-color: #cccccc;
        background-size: cover; /* Resize the background image to cover the entire container */
        
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    }
